logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
node_modules
package-lock.json
.vscode/*
.npmrc
.directory
package.zip
yarn.lock
build
.npmrc
.env
serene-14463-firebase-adminsdk-jai36-a0648a353e.json
mprocs.yaml